<div id="builder">
  <h2>Monte seu Açaí</h2>
  <label for="tipo">Escolha: </label>
  <select id="tipo" [(ngModel)]="selectedType">
    <option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
  </select>

  <label for="tamanho">Tamanho: </label>
  <select id="tamanho" [(ngModel)]="selectedSize">
    <option *ngFor="let size of sizes" [value]="size.value">{{ size.name }}</option>
  </select>
  <br>
  <label for="creme">Escolha o Creme: </label>
  <select id="creme" [(ngModel)]="selectedCream">
    <option *ngFor="let cream of creams" [value]="cream.value">{{ cream.name }}</option>
  </select>
  <br>
  <div id="checkbox-container">
    <div *ngFor="let addon of addons" class="checkbox-wrapper">
      <input type="checkbox" [value]="addon.name" (change)="toggleAddonCheckbox($event)">
      <label>{{ addon.name }}</label>
    </div>
  </div>



  <label for="fruta">Escolha a Fruta: </label>
  <select id="fruta" [(ngModel)]="selectedFruit">
    <option *ngFor="let fruit of fruits" [value]="fruit.value">{{ fruit.name }}</option>
  </select>
  <br>
  <label for="cobertura">Escolha a Cobertura: </label>
  <select id="cobertura" [(ngModel)]="selectedTopping">
    <option *ngFor="let topping of toppings" [value]="topping.value">{{ topping.name }}</option>
  </select>

  <button (click)="adicionarAoCarrinho()">Adicionar ao Carrinho</button>
  <button (click)="limparSelecoes()">Limpar Seleções</button>
</div>
<ul>
  <li *ngFor="let item of cartItems; let i = index">
    Tipo: {{ item.type }},
    Tamanho: {{ item.size }},
    Creme: {{ item.cream }},
    Adicionais: {{ item.addons.join(', ') }},
    Fruta: {{ item.fruit }},
    Cobertura: {{ item.topping }}
    <button (click)="removerDoCarrinho(i)">Remover</button>
  </li>
</ul>
