<div id="endereco">
  <form method="get" action=".">

      <label>Cep:
          <input name="cep" type="text" id="cep" value="" size="10" maxlength="9"
              onblur="pesquisacep(this.value);" /></label><br />
      <label>Rua:
          <input name="rua" type="text" id="rua" size="60" /></label><br />
      <label>Bairro:
          <input name="bairro" type="text" id="bairro" size="40" /></label><br />
      <label>Cidade:
          <input name="cidade" type="text" id="cidade" size="40" /></label><br />
      <label>Estado:
          <input name="uf" type="text" id="uf" size="2" /></label><br />
      <label for="numero">Número:</label>
      <input type="text" id="numero"><br />
      <input style="display: none;" name="ibge" type="text" id="ibge" size="8" /><br />
  </form>
  <button id="confirmarPedido" onclick="confirmarPedido()">Confirmar Pedido</button>
  <button onclick="fecharPopup()">Fechar</button>
</div>
