  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Bem-vindo à Açaí Mania!</h1>
      <p>Experimente os melhores açaís da região!</p>
    </div>
  </div>

  <!-- Features -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="feature-box text-center">
          <i class="fas fa-utensils"></i>
          <h3>Cardápio Variado</h3>
          <p>Oferecemos uma variedade de opções deliciosas para todos os gostos.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-box text-center">
          <i class="fas fa-certificate"></i>
          <h3>Qualidade Garantida</h3>
          <p>Nossos produtos são feitos com ingredientes frescos e de alta qualidade.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-box text-center">
          <i class="fas fa-users"></i>
          <h3>Atendimento Personalizado</h3>
          <p>Nossa equipe está pronta para atendê-lo da melhor maneira possível.</p>
        </div>
      </div>
    </div>
  </div>
