  <!-- Jumbotron -->
  <body class="container-fluid bg-warning-subtle">
    <div class="container ">
      <div class="jumbotron text-center">
        <div class="">
          <h1>Bem-vindo à Açaí Mania!</h1>
          <p>Experimente os melhores açaís da região!</p>
        </div>
      </div>
      <div>
        <div class="container overflow-hidden bg-warning-subtle">
          <div class="d-flex justify-content-center" >
            <div class="btn btn-primary m-3" routerLink="/products">
              <p>Monte seu açai</p>
              <img src="assets/img/produtos/produto-acai-cardapio.png" alt="img açai" width="200px">
            </div>
            <div class="btn btn-primary m-3" routerLink="/products">
              <p>Monte seu açai</p>
              <img src="assets/img/produtos/produto-acai-cardapio.png" alt="img açai" width="200px">
            </div>
            <div class="btn btn-primary m-3" routerLink="/products">
              <p>Monte seu açai</p>
              <img src="assets/img/produtos/produto-acai-cardapio.png" alt="img açai" width="200px">
            </div>
            <div class="btn btn-primary m-3" routerLink="/products">
              <p>Monte seu açai</p>
              <img src="assets/img/produtos/produto-acai-cardapio.png" alt="img açai" width="200px">
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
